/ {
    aliases {
        telemetry-uart = &usart3;
    };
};

&usart3 {
    status = "okay";
    pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9>;
    pinctrl-names = "default";
    current-speed = <1000000>;
};
