/*
 * Copyright (c) 2024 Your Name
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f7/stm32f745Xg.dtsi>
#include <st/f7/stm32f745v(e-g)tx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    model = "MikroElektronika Clicker 4 STM32F7";
    compatible = "mikroe,clicker4-stm32f7", "st,stm32f745";

    chosen {
        //zephyr,console = &usart1;
        //zephyr,shell-uart = &usart1;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,code-partition = &slot0_partition;
    };
    aliases {
        led0 = &led1;
    };
    leds {
        compatible = "gpio-leds";
        led1: led_1 {
            gpios = <&gpioc 8 ( GPIO_ACTIVE_HIGH)>; // High impedance when low, reverse open drain
            label = "User LED1";
        };
        led2: led_2 {
            gpios = <&gpioa 8 ( GPIO_ACTIVE_HIGH)>;
            label = "User LED2";
        };
        led3: led_3 {
            gpios = <&gpiob 13 ( GPIO_ACTIVE_HIGH)>;
            label = "User LED3";
        };
        led4: led_4 {
            gpios = <&gpioe 2 ( GPIO_ACTIVE_HIGH)>;
            label = "User LED4";
        };
        led5: led_5 {
            gpios = <&gpiob 15 ( GPIO_ACTIVE_HIGH)>;
            label = "User LED5";
        };
        led6: led_6 {
            gpios = <&gpioa 10 ( GPIO_ACTIVE_HIGH)>;
            label = "User LED6";
        };
    };

    gpio_keys {
        compatible = "gpio-keys";
        button1: button_1 {
            label = "User BTN1";
            gpios = <&gpioe 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            zephyr,code = <INPUT_KEY_0>;
        };
        button2: button_2 {
            label = "User BTN2";
            gpios = <&gpioe 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            zephyr,code = <INPUT_KEY_1>;
        };
        button3: button_3 {
            label = "User BTN3";
            gpios = <&gpioe 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            zephyr,code = <INPUT_KEY_2>;
        };
        button4: button_4 {
            label = "User BTN4";
            gpios = <&gpioe 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            zephyr,code = <INPUT_KEY_3>;
        };
        button5: button_5 {
            label = "User BTN5";
            gpios = <&gpiob 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            zephyr,code = <INPUT_KEY_4>;
        };
        button6: button_6 {
            label = "User BTN6";
            gpios = <&gpiod 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            zephyr,code = <INPUT_KEY_5>;
        };
    };

    mikrobus_connectors {
        compatible = "mikrobus-connector";
        #address-cells = <1>;
        #size-cells = <0>;

        mikrobus1: connector@0 {
            reg = <0>;
            label = "MikroBUS 1";
        };

        mikrobus2: connector@1 {
            reg = <1>;
            label = "MikroBUS 2";
        };

        mikrobus3: connector@2 {
            reg = <2>;
            label = "MikroBUS 3";
        };

        mikrobus4: connector@3 {
            reg = <3>;
            label = "MikroBUS 4";
        };
    };


    connectors {
        /* Positions (standard mikroBUS):
        *  0 AN, 1 RST, 2 CS, 3 SCK, 4 MISO, 5 MOSI,
        * 11 SDA, 12 SCL, 13 TX, 14 RX, 15 INT, 16 PWM
        */
        mb1: mikrobus_1 {
            compatible = "mikro-bus";
            #gpio-cells = <2>;
            gpio-map-mask = <0xffffffff 0xffffffc0>;
            gpio-map-pass-thru = <0 0x3f>;
            gpio-map =
                < 0 0 &gpioc  4 0>,  <16 0 &gpioe  9 0>,   /* AN  PC4 | PWM PE9  */
                < 1 0 &gpioc 15 0>,  <15 0 &gpiod  0 0>,   /* RST PC15| INT PD0  */
                < 2 0 &gpioa  4 0>,  <14 0 &gpioa  3 0>,   /* CS  PA4 | RX  PA3  */
                < 3 0 &gpioa  5 0>,  <13 0 &gpioa  2 0>,   /* SCK PA5 | TX  PA2  */
                < 4 0 &gpioa  6 0>,  <12 0 &gpiob 10 0>,   /* MISO PA6| SCL PB10 */
                < 5 0 &gpioa  7 0>,  <11 0 &gpiob 11 0>;   /* MOSI PA7| SDA PB11 */
        };

        mb2: mikrobus_2 {
            compatible = "mikro-bus";
            #gpio-cells = <2>;
            gpio-map-mask = <0xffffffff 0xffffffc0>;
            gpio-map-pass-thru = <0 0x3f>;
            gpio-map =
                < 0 0 &gpioc  5 0>,  <16 0 &gpiod 12 0>,   /* AN  PC5 | PWM PD12 */
                < 1 0 &gpiob  2 0>,  <15 0 &gpiob  2 0>,   /* RST PB2 | INT PB2* */
                < 2 0 &gpiod 13 0>,  <14 0 &gpiob  7 0>,   /* CS  PD13| RX  PB7  */
                < 3 0 &gpioa  5 0>,  <13 0 &gpiob  6 0>,   /* SCK PA5 | TX  PB6  */
                < 4 0 &gpioa  6 0>,  <12 0 &gpiob 10 0>,   /* MISO PA6| SCL PB10 */
                < 5 0 &gpioa  7 0>,  <11 0 &gpiob 11 0>;   /* MOSI PA7| SDA PB11 */
            /* *INT on PB2 matches the board drawing. If your card needs a distinct
            * INT pin, move it here and your overlay won’t change. */
        };

        mb3: mikrobus_3 {
            compatible = "mikro-bus";
            #gpio-cells = <2>;
            gpio-map-mask = <0xffffffff 0xffffffc0>;
            gpio-map-pass-thru = <0 0x3f>;
            gpio-map =
                < 0 0 &gpiob  0 0>,  <16 0 &gpioc  6 0>,   /* AN  PB0 | PWM PC6  */
                < 1 0 &gpiod 11 0>,  <15 0 &gpioc  7 0>,   /* RST PD11| INT PC7  */
                < 2 0 &gpiod 13 0>,  <14 0 &gpioe  7 0>,   /* CS  PD13| RX  PE7  */
                < 3 0 &gpioa  5 0>,  <13 0 &gpiob  6 0>,   /* SCK PA5 | TX  PB6  */
                < 4 0 &gpioa  6 0>,  <12 0 &gpiob 10 0>,   /* MISO PA6| SCL PB10 */
                < 5 0 &gpioa  7 0>,  <11 0 &gpiob 11 0>;   /* MOSI PA7| SDA PB11 */
        };

        mb4: mikrobus_4 {
            compatible = "mikro-bus";
            #gpio-cells = <2>;
            gpio-map-mask = <0xffffffff 0xffffffc0>;
            gpio-map-pass-thru = <0 0x3f>;
            gpio-map =
                < 0 0 &gpiob  1 0>,  <16 0 &gpioc  9 0>,   /* AN  PB1 | PWM PC9  */
                < 1 0 &gpiod 14 0>,  <15 0 &gpiob  4 0>,   /* RST PD14| INT PB4  */
                < 2 0 &gpiod 15 0>,  <14 0 &gpiod  9 0>,   /* CS  PD15| RX  PD9  */
                < 3 0 &gpioc 10 0>,  <13 0 &gpiod  8 0>,   /* SCK PC10| TX  PD8  */
                < 4 0 &gpioc 11 0>,  <12 0 &gpiob 10 0>,   /* MISO PC11| SCL PB10*/
                < 5 0 &gpioc 12 0>,  <11 0 &gpiob 11 0>;   /* MOSI PC12| SDA PB11*/
        };
    };
};

&clk_hse {
    clock-frequency = <DT_FREQ_M(25)>;  /* 25MHz external crystal */
    status = "okay";
};

&pll {
    div-m = <25>;
    mul-n = <336>;
    div-p = <2>;    /* PLLP: 336/2 = 168MHz (SYSCLK) */
    div-q = <7>;    /* PLLQ: 336/7 = 48MHz (USB, SDMMC) */
    clocks = <&clk_hse>;
    status = "okay";
};

&rcc {
    clocks = <&pll>;
    clock-frequency = <DT_FREQ_M(168)>;
    ahb-prescaler = <1>;  /* HCLK = SYSCLK = 168MHz */
    apb1-prescaler = <4>; /* PCLK1 = HCLK/4 = 42MHz */
    apb2-prescaler = <2>; /* PCLK2 = HCLK/2 = 84MHz */
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x00000000 DT_SIZE_K(64)>;
            read-only;
        };

        slot0_partition: partition@10000 {
            label = "image-0";
            reg = <0x00010000 DT_SIZE_K(512)>;
        };

        slot1_partition: partition@90000 {
            label = "image-1";
            reg = <0x00090000 DT_SIZE_K(448)>;
        };

        storage_partition: partition@100000 {
            label = "storage";
            reg = <0x00100000 DT_SIZE_K(64)>;
        };
    };
};

/* USB OTG FS (UDC + CDC ACM UART child for USB device-next stack) */
zephyr_udc0: &usbotg_fs {
    pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
    pinctrl-names = "default";
    status = "okay";

    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
        status = "okay";
    };
};

/* UART1 (Console) - Connected to ST-Link VCP, is labelled UART3 on board for some reason*/
&usart1 {
	pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
}; // MB2

/* UART2 - Available on headers, labelled UART2 on board*/
&usart2 {
    pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
    pinctrl-names = "default";
    current-speed = <115200>;
    status = "okay";
};

&usart3 {
    status = "okay";
    pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9>;
    pinctrl-names = "default";
    current-speed = <1000000>;
};

/* I2C2 - Shared across mikroBUS sockets */
&i2c2 {
    pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb11>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    status = "okay";
};

/* SPI1 - mikroBUS 1-3 */
&spi1 {
    pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7>;
    //cs-gpios = <&gpiod 13 GPIO_ACTIVE_LOW>;
    pinctrl-names = "default";
    status = "okay";
};

/* SPI3 - mikroBUS 4 */
&spi3 {
    pinctrl-0 = <&spi3_sck_pc10 &spi3_miso_pc11 &spi3_mosi_pc12>;
    pinctrl-names = "default";
    cs-gpios = <&gpiod 15 GPIO_ACTIVE_LOW>;
    status = "okay";
};
